.menu-main-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40vh;
    padding: 32px 0;
    position: relative;
    text-align: center;
}


.menu-text-link{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.menu-text{
    font-family: "Times New Roman", Times, serif;
    text-shadow: 1px 1px 13px rgba(0,0,0,.9),1px 1px 20px rgba(0,0,0,.8);
    color: white
}

.category-text{
    font-family: "Times New Roman", Times, serif;
    text-shadow: 1px 1px 13px rgba(0,0,0,.9),1px 1px 20px rgba(0,0,0,.8);
    color: white;
    font-size: 5vw;
}
.edit-text-link{
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
    color: #C0C0C0;
}

.edit-text-style{
    color: #C0C0C0;
}


.category-image{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 0;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}


.product-text-style{
    margin-bottom: 0;
    color: #C0C0C0;
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 801px) {
    .product-text {
      font-size: 2vw;
    }
  }
  
@media screen and (max-width: 800px) and (min-width:701px) {
    .product-text {
        font-size: 2vw;
    }
}
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 700px) and (min-width:551px) {
    .product-text {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 550px) {
    .product-text {
        font-size: 3.5vw;
    }
}



@media screen and (min-width: 801px) {
    .product-description-text {
      font-size: 1.5vw;
    }
  }
  
@media screen and (max-width: 800px) and (min-width:701px) {
    .product-description-text {
      font-size: 1.5vw;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 700px) and ( min-width:551px) {
    .product-description-text {
        font-size: 2vw;
    }
}

@media screen and (max-width: 550px) {
    .product-description-text {
        font-size: 2.5vw;
    }
}



.item-image {
    aspect-ratio: 1/1;
    border-radius: var(--dm-rounded-s);
    flex-shrink: 0;
    margin-right: 8px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    width: 60px;
  }


  .delete-alignment{
    display:flex;
    justify-content: space-between;
    width: 100%;
  }