<nav class="navbar navbar-dark bg-dark navbar-expand-lg" >
    <div class="container">
        <a class="navbar-brand" href="{% url 'menu' %}">Digital Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id = "navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Cafe adi</a>
                    </li>
    
                {% else %}
    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
    
            </ul>
        </div>



    </div>
</nav>