<nav class="navbar navbar-dark bg-dark navbar-expand-lg" >
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Menutech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id = "navbar">
            {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="{% url 'menu' %}" class="nav-link">Menüler</a>
                    </li>
                </ul>
            {% endif %}
            <ul class="navbar-nav ms-auto">
                {% if menu %}
                    
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Çıkış Yap</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link">{{menu.name|title}}</a>
                    </li>
                    
                {% else %}

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Çıkış Yap</a>
                        </li>

                        

                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Giriş Yap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Kayıt Ol</a>
                        </li>
                    {% endif %}

                {% endif %}
            
    
            </ul>
        </div>



    </div>
</nav>