{% extends "base.html" %}
{% load static %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'menu/css/menu.css' %}"/>
{% endblock %}

{% block title %}{{menu.name}}{% endblock %}

{% block content %}
<div class "row">
    <div class="col-12 menu-main-image" style="background-image: url({{ menu.image.url }})">
        <h2 class="text-center menu-text display-1" style="color:white;">{{menu.name|title}}</h2>
    </div>
</div>
    <h2> {{ menu.id }} </h2>
    <h2> {{ menu.name|title }}</h2>

    {% for category in categories %}
        <a href="{% url 'category_details' menu.slug category.slug %}">{{category.name}}</a>
    {% endfor %}


{% endblock %}



