{% extends "base.html" %}
{% load static %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'menu/css/menu.css' %}"/>
{% endblock %}

{% block title %}{{menu.name|title}}{% endblock %}

{% block content %}
<div>
    <div class "row">
        <div class="col-12 menu-main-image" style="background-image: url({{ menu.image.url }})">
            <h2 class="text-center menu-text display-1  ">{{menu.name|title}}</h2>
            {% if user.is_authenticated and menu.user == user %}
                <a href="{% url 'menu_edit' menu.slug  %}">                             
                    <div>
                        <input type="button" value="Edit" class = "btn btn-dark">
                    </div>
                </a>
            {% endif %}

        </div>
    </div> 
    <div class = "container mt-4">
        <div class = "row row-cols-2">
            {% for category in categories %}
            
                    <div class = "col">
                        <a href="{% url 'category_details' menu.slug category.slug %}" class = "menu-text-link">
                            <div class="category-image mb-4" style="background-image: url({{ category.image.url }});">
                                    <h2 class="text-center category-text display-1">{{category.name|title}}</h2>
                            </div>
                        </a>
                    </div>
            {% endfor %}
        </div>               
    </div>   
</div>

{% endblock %}



