<div class = "row mt-3 mb-4">
    <div class = "col-4">
        <img src="{{product.image.url}}" class="img-fluid" style="aspect-ratio: 1/1; object-fit: cover; overflow: hidden; width:100%;"/>
    </div>
    <div class = "col-5">
        <p class="product-text product-text-style">{{product.name|title}}</p>
        <p class="product-description-text product-text-style">{{product.description}}</p>
    </div>
    <div class = "col-3 center-block text-center">
            <p class="product-text product-text-style">{{product.price}}₺</p>
    </div>
</div>